@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";




@theme {
  --color-primary: #2563EB ;
  --color-secondary: #FBBF24 ;
}
@font-face {
  font-family: 'Playwrite HU';
  src: url('/fonts/PlaywriteHU.woff2') format('woff2'); /* Adjust path */
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: Outfit;
}



.font-playfair{
  font-family: Playfair !important;
}

.font-lavishly{
  font-family: 'Lavishly Yours', cursive !important;
}

.font-playwrite {
  font-family: 'Playwrite HU', cursive !important;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
}

